.card {
  display: flex;
  flex-direction: row;
  width: 380px;
  height: 180px;
  border: 1px solid rgb(255, 255, 255);
  align-items: center;

  margin: 10px;
  border-radius: 15px;
  background-color: #cc2424;
}

.card-icon {
  height: 80px;
  width: 80px;
  margin: 3rem;
  color: white;
}

.card-descp {
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
