<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="card.style.css">
    <title>Document</title>
</head>

<body>
    <div class="wrap">
        <div class="search-container">
            <ul class="result-container">
                <li class="ticket t1">
                    <div class="ticket-wrapper">
                        <div class="train-info">
                            <span class="train-num">Turkish airlines dl31</span>
                            <span class="date">asdasd</span>
                        </div>
                        <div class="ticket-info">
                            <div class="station-info dep">
                                <span class="time">asd</span>
                                <span class="station">asd</span>
                            </div>

                            <div class="transfer-info">
                                <span class="duration">Saati Bul</span>
                                <ul class="stops"></ul>
                            </div>

                            <div class="station-info arr">
                                <span class="time">asdf:</span>
                                <span class="station">asd</span>
                            </div>
                        </div>
                    </div>
                    <div class="punchline">
                        <div class="punch-notch punch-left"></div>
                        <div class="punch-notch punch-right"></div>
                    </div>
                    <div class="ticket-wrapper">
                        <div class="btn info">i</div>
                        <div class="btn buy">BUY</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>